{
  "plugins": ["prettier", "import"],

  "extends": [
    "prettier",
    "eslint:recommended",
    "airbnb-base",

    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
